Fichier de configuration g‚n‚ral pour la bibliothŠque GNUGENC
CONFIG_GNUGENC=1; !!! Ne jamais supprimer cette ligne CONFIG_GNUGENC=1; est absolument n‚cessaire
               /* D‚finition pour la fenˆtre STDOUT */
STDOUT_X=3;      Position en X de la fenˆtre STDOUT en  0e l'‚cran
STDOUT_Y=6;      Position en Y de la fenˆtre STDOUT en  0e l'‚cran
STDOUT_W=65;      Largeur de la fenˆtre STDOUT en  0e l'‚cran
STDOUT_H=60;      Hauteur de la fenˆtre STDOUT en  0e l'‚cran
STDOUT_COLOR=14;  Couleur de fond de la fenˆtre STDOUT
LANGUAGE=166;      langue d‚sir‚e
TOS2WIN=1;       Si 1 ex‚cute les programmes TOS avec l'‚mulateur en fenˆtre VT52 (systŠme multitache seulement)
FIX_MENU_BUG_ORCS=0;
DEBUG=1; mode debug utilisateur */
PEXEC_LOCAL_STDOUT=0; stdout pour programme execute dans dossier TMP mettre 1 pour dans dossier local
@ ne jamais enlever @ et ne pas en mettre ailleur